<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Shopfront</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{content-for "head"}}


  <!--link rel="stylesheet" href="{{rootURL}}assets/vendor.css"-->
  <!--link rel="stylesheet" href="{{rootURL}}assets/shopfront.css"-->

  <link href='https://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{rootURL}}assets/dest/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{rootURL}}assets/dest/vendors/colorbox/example3/colorbox.css">
  <link rel="stylesheet" title="style" href="{{rootURL}}assets/dest/css/style.css">
  <link rel="stylesheet" href="{{rootURL}}assets/dest/css/animate.css">


  {{content-for "head-footer"}}
</head>
<body>
  {{content-for "body"}}




  {{content-for "body-footer"}}

  <script src="{{rootURL}}assets/vendor.js"></script>
  <script src="{{rootURL}}assets/shopfront.js"></script>
  <!-- include js files -->
  <!-- script src="assets/dest/js/jquery.js"></script-->
  <!--script src="assets/dest/vendors/jqueryui/jquery-ui-1.10.4.custom.min.js"></script-->
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="{{rootURL}}assets/dest/vendors/bxslider/jquery.bxslider.min.js"></script>
  <script src="{{rootURL}}assets/dest/vendors/colorbox/jquery.colorbox-min.js"></script>
  <script src="{{rootURL}}assets/dest/vendors/animo/Animo.js"></script>
  <script src="{{rootURL}}assets/dest/vendors/dug/dug.js"></script>
  <script src="{{rootURL}}assets/dest/js/scripts.js"></script>
  <!--customjs-->
  <script type="text/javascript">
    $(function() {
        // this will get the full URL at the address bar
        var url = window.location.href;

        // passes on every "a" tag
        $(".main-menu a").each(function() {
            // checks if its the same on the address bar
            if (url == (this.href)) {
                $(this).closest("li").addClass("active");
        $(this).parents('li').addClass('parent-active');
            }
        });
    });


</script>
<script>
   jQuery(document).ready(function($) {
                'use strict';

// color box

//color
      jQuery('#style-selector').animate({
      left: '-213px'
    });

    jQuery('#style-selector a.close').click(function(e){
      e.preventDefault();
      var div = jQuery('#style-selector');
      if (div.css('left') === '-213px') {
        jQuery('#style-selector').animate({
          left: '0'
        });
        jQuery(this).removeClass('icon-angle-left');
        jQuery(this).addClass('icon-angle-right');
      } else {
        jQuery('#style-selector').animate({
          left: '-213px'
        });
        jQuery(this).removeClass('icon-angle-right');
        jQuery(this).addClass('icon-angle-left');
      }
    });
        });
  </script>

</body>
</html>
